<form asp-action="CreateNewLeader" asp-controller="Leader" method="post">
    <div class="form-group">
        <label for="fullname">FullName:</label>
        <input type="text" name="fullname" class="form-control" id="fullname">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>