@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FuturifyModule.Models
@model IEnumerable<ApiLeaderModel>

<div style="margin-top:50px">
    <div>
        <a asp-action="Index" asp-controller="Project">
            Project List
        </a>
    </div>

    <div>
        <a asp-action="CreateNewLeader" asp-controller="Leader" class="btn btn-success" style="margin-top:10px">
            Create new leader
        </a>
    </div>

    <div class="info" style="padding-top:30px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>FullName</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null && Model.Count() != 0)
                    {
                        foreach (var leader in Model)
                        {
                            <tr>
                                <td>@leader.FullName</td>
                                <td>
                                    <a href="/EditLeader/@leader.Id">Edit</a> |
                                    <a href="/DeleteLeader/@leader.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>
