<form asp-action="CreateNewProject" asp-controller="Project" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="leaderid">LeadId:</label>
        <input type="text" name="leaderid" class="form-control" id="leaderid">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>